@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 450px;
    background-image: url('../images/background.png');
    justify-content: center;
    align-items: center;
}

.headerBackground {
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
}

#headerTittle {
    color: transparent;
    font-size: 40px;
    -webkit-text-stroke: 1px white;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 84%;
}

main .container {
    background-color: white;
    height: 100%;
}

main .subtitle {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(56, 56, 56);
}

main .subtitleRef {
    width: 98%;
    padding: 10px;
    margin: 10px;
}

.column {
    flex-direction: column;
}

#carlSagan {
    display: flex;
    margin: 30px;
    margin-top: 60px;
    flex-direction: row;
}

.carlSaganImg {
    width: 264px;
    height: 314px;
    background-color: rgb(56, 56, 56);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


#carlSagan img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.carlSaganSrc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carlSaganSrcResume {
    width: 264px;
    height: 40px;
    background-color: rgb(56, 56, 56);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.carlSaganResume {
    width:600px;
    flex-wrap: nowrap;
    margin-left: 50px;
    font-size: 18px;
}

.carlSaganSrc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carlSaganSrcResume2 {
    width: 264px;
    height: 40px;
    background-color: rgb(56, 56, 56);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.carlSaganImg2 {
    width: 264px;
    height: 314px;
    background-color: rgb(56, 56, 56);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-left: 18%
}

.carlSaganResume2 {
    width:900px;
    flex-wrap: nowrap;
    margin-left: 100px;
    font-size: 18px;
}

#p2 {
  margin-top: 30px;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .timeline-content .date {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: black;
  }

footer {
  display: flex;
  justify-content: center;
}

footer .wikipedia {
  color: white;
  padding: 40px;
  display: flex;
}

.wikipedia img {
  width: 32px;
  height: 32px;
}

.wikipedia .wikiIcon {
  background-color: white;
  height: 34px;
  width: 34px;
  border-radius: 10px;
  margin-right: 20px;

}

.wikipedia .wikiIcon:hover {
  scale: 1.1;
}

footer .copy {
  color: white;
  text-align: center;
  font-size: 13px;
}

footer a {
  text-decoration: none;
  margin-left: 6px;
}

footer a:hover {
  color: white;
  scale:1.1;
}



  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: aqua;
    }

  }
  
.timelineview {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 40px;
    border-top: 1px solid rgb(56, 56, 56);
}

.timelineview h3 {
    font-size: 40px;
}

@media (max-width:768px) {
  main .subtitle {
    border-bottom: 0;
  }
  main h3 {
    font-size: 16px;
  }

  #carlSagan {
    margin: 10px;
    margin-top: 30px ;
    margin-bottom: 30px;
    margin-left: 2px;
  }

  .carlSaganResume {
    font-size: 17px;
  }

  .carlSaganResume2 {
    font-size: 16px;
    margin-left: 20px;
  }
  .carlSaganImg2 {
    margin: 0px;
  }
  #p2 {
    margin-top: 15px;
  }
  footer .wikipedia {
    font-size: 14px;
  }
  footer a img{
    margin-left: 0;
  }
  .container {
    width: 89%;
  }
}

@media (max-width:426px) {
  #carlSagan {
    flex-direction: column;
    margin: 0px;
    margin-top: 60px;
  }
  header h1 {
    font-size: 40px;
  }
  header {
    height: 400px;
  }
  .carlSaganResume {
    margin-left: 0px;
    margin-top: 50px;
    font-size: 16px;
    width: 100%;
  }
  main h3{
    font-size: 14px
  }

  .carlSaganResume2 {
    width: 100%;
    margin-left: 0px;
  }
  .container {
    width: 92%;
  }
  .timelineview h3 {
    font-size: 30px;
  }
  .timeline-content .date { 
    color:white
  }
  
  ul {
    padding: 0px;
  }

  footer .wikipedia {
    padding: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 13px;
  }
  footer a {
    margin: 0;
    display: flex;
  }

}